DR_DB_STORAGE_ROOT=/local1/dr-db

DR_DB_POSTGRES_HOST=dr-db
DR_DB_POSTGRES_PORT=5432
DR_DB_POSTGRES_USER=svc_neuropix
DR_DB_POSTGRES_PASSWORD=replace-me
DR_DB_POSTGRES_DB=dr_db
DR_DB_POSTGRES_HOST_PORT=7500

DR_DB_DEV_POSTGRES_HOST=dr-db-dev
DR_DB_DEV_POSTGRES_PORT=5432
DR_DB_DEV_POSTGRES_USER=svc_neuropix
DR_DB_DEV_POSTGRES_PASSWORD=replace-me
DR_DB_DEV_POSTGRES_DB=dr_db_dev
DR_DB_DEV_POSTGRES_HOST_PORT=7501

MATHESAR_HOST_PORT=80
MATHESAR_DOMAIN_NAME=http://dr-db,http://localhost,http://127.0.0.1
MATHESAR_ALLOWED_HOSTS=dr-db,localhost,127.0.0.1,[::1]
MATHESAR_METADATA_POSTGRES_DB=mathesar_django
MATHESAR_METADATA_POSTGRES_USER=mathesar
MATHESAR_METADATA_POSTGRES_PASSWORD=replace-me
MATHESAR_METADATA_POSTGRES_HOST=mathesar-metadata
MATHESAR_METADATA_POSTGRES_PORT=5432
MATHESAR_METADATA_POSTGRES_SSLMODE=prefer
