DR_DB_STORAGE_ROOT=/home/ben.hardcastle/dr-db

DR_DB_POSTGRES_USER=svc_neuropix
DR_DB_POSTGRES_PASSWORD=replace-me
DR_DB_POSTGRES_DB=dr_db
DR_DB_POSTGRES_HOST_PORT=7500

DR_DB_DEV_POSTGRES_USER=svc_neuropix
DR_DB_DEV_POSTGRES_PASSWORD=replace-me
DR_DB_DEV_POSTGRES_DB=dr_db_dev
DR_DB_DEV_POSTGRES_HOST_PORT=7501

MATHESAR_HOST_PORT=80
MATHESAR_DOMAIN_NAME=http://dr-db,http://localhost,http://127.0.0.1
MATHESAR_ALLOWED_HOSTS=dr-db,localhost,127.0.0.1,[::1]
