DR_DB_STORAGE_ROOT=/allen/ai/homedirs/ben.hardcastle/dr-db

DR_DB_POSTGRES_USER=dr_db_admin
DR_DB_POSTGRES_PASSWORD=replace-me
DR_DB_POSTGRES_DB=main
DR_DB_POSTGRES_HOST_PORT=7500

MATHESAR_METADATA_POSTGRES_USER=mathesar
MATHESAR_METADATA_POSTGRES_PASSWORD=mathesar
MATHESAR_METADATA_POSTGRES_DB=mathesar_django

MATHESAR_HOST_PORT=7000
MATHESAR_DOMAIN_NAME=http://dr-db,http://localhost,http://127.0.0.1
MATHESAR_ALLOWED_HOSTS=dr-db,localhost,127.0.0.1,[::1]
